{% extends "layout.html" %}

{% block title %}
    <title>gotWebURLs</title>
{% endblock %}

{% block body %}
    <body>
    {% include "navbar.html" %}
    <div class="jumbotron">
        <h2>Alınan Adresler</h2>
        {{ hata }}

        <table class="table">
            <thead>
            <tr>
                <th>Web Sitesi</th>
            </tr>
            </thead>
            <tbody>
            <tr class="success">
                <td>{{ url }}</td>
            </tr>
            </tbody>
        </table>

            <p><br>{{ frekanslar }}</p>
            <p><br></p>
    </div>

    </body>
{% endblock %}